* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.topnav {
  min-width: 100%;
  background-color: #333;
}
.topnav .topnav-main {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  background-color: #c0c0c0;
}
.topnav .topnav-main .nav-l {
  float: left;
}
