* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 12px;
}
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
img {
  display: block;
}
input {
  outline-style: none;
  margin: 0;
  padding: 0;
  border: 0 none;
}
body {
  overflow: scroll;
  font-size: 12px;
}
.container {
  width: 1226px;
  margin: 0 auto;
}
.topnav {
  min-width: 100%;
  background-color: #333;
}
.topnav .topnav-main {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
}
.topnav .topnav-main .nav-l {
  float: left;
}
.topnav .topnav-main .nav-l ul {
  font-size: 0;
}
.topnav .topnav-main .nav-l ul span {
  color: #424242;
  float: left;
}
.topnav .topnav-main .nav-l ul li {
  float: left;
  vertical-align: -1px;
  text-align: center;
  padding: 0 3px;
  height: 40px;
}
.topnav .topnav-main .nav-l ul li a {
  color: #b0b0b0;
  font-size: 12px;
}
.topnav .topnav-main .nav-l ul li:hover a {
  color: #fff;
}
.topnav .topnav-main .nav-l ul .download {
  position: relative;
}
.topnav .topnav-main .nav-l ul .download .qr {
  width: 124px;
  height: 148px;
  position: absolute;
  top: 100%;
  left: -22px;
  background-color: #fff;
  height: 0;
  transition: all 0.3s;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0 0 2px #e0e0e0;
}
.topnav .topnav-main .nav-l ul .download .qr img {
  width: 90px;
  height: 90px;
  margin: 18px auto 5px;
}
.topnav .topnav-main .nav-l ul .download .qr p {
  font-size: 15px;
}
.topnav .topnav-main .nav-l ul .download:hover .qr {
  height: 148px;
}
.step {
  display: inline-block;
  width: 1px;
  height: 16px;
  color: #333;
  margin: 0 5px;
}
.nav-cart {
  width: 120px;
  height: 40px;
  background-color: #424242;
  float: right;
  text-align: center;
  position: relative;
}
.nav-cart .cart-title {
  cursor: pointer;
  color: #b2b2b2;
  padding-left: 5px;
}
.nav-cart .cart-title .logo i {
  position: absolute;
  top: 14px;
  left: 10px;
}
.nav-cart:hover .cart-list {
  height: auto;
}
.nav-cart:hover .cart-title {
  background-color: #fff;
  color: #ff6700;
}
.nav-cart .cart-list {
  max-height: 500px;
  height: 0;
  width: 318px;
  background-color: #fff;
  transition: all 0.4s;
  position: absolute;
  top: 100%;
  left: -198px;
  box-shadow: 1px 1px 0 #e0e0e0, -1px 1px 0 #e0e0e0;
  text-align: center;
  z-index: 41;
  overflow: hidden;
}
.nav-cart .cart-list .cart-empty {
  padding: 20px;
}
.nav-info {
  float: right;
  margin-right: 24px;
}
.nav-info span {
  color: #424242;
  height: 100%;
}
.nav-info a {
  color: #b2b2b2;
}
.nav-info a:hover {
  color: #fff;
}
.siteheader {
  width: 100%;
  height: 100px;
  position: relative;
}
.siteheader .container {
  height: 100%;
}
.siteheader .container .site-logo {
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  position: absolute;
  top: 22px;
  overflow: hidden;
}
.siteheader .container .site-logo:hover > .left-logo {
  left: 0;
}
.siteheader .container .site-logo:hover > .now-logo {
  left: 55px;
}
.siteheader .container .site-logo .left-logo,
.siteheader .container .site-logo .now-logo {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  transition: all 0.4s;
}
.siteheader .container .site-logo .left-logo {
  background: url(//s02.mifile.cn/assets/static/image/mi-home.png) no-repeat 50% 50%;
  left: -55px;
}
.siteheader .container .site-logo .now-logo {
  background: url(//s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat 50% 50%;
  left: 0;
}
.siteheader .container .site-list {
  float: left;
  width: 690px;
  padding-left: 178px;
  margin-top: 12px;
}
.siteheader .container .site-list > li {
  float: left;
  padding: 26px 10px 38px;
}
.siteheader .container .site-list > li:hover div {
  height: 230px;
}
.siteheader .container .site-list > li > a {
  font-size: 16px;
  color: #333;
}
.siteheader .container .site-list > li > a:hover {
  color: #ff6700;
}
.siteheader .container .site-list > li > div {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
  background-color: #fff;
  z-index: 10;
}
.siteheader .container .site-list > li > div > ul {
  width: 1226px;
  margin: 0 auto;
}
.siteheader .container .site-list > li > div > ul li {
  height: 200px;
  float: left;
  padding: 35px 12px 0;
  width: 180px;
  text-align: center;
  position: relative;
}
.siteheader .container .site-list > li > div > ul li::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 25px;
  width: 1px;
  height: 100px;
  border-left: 1px solid #e0e0e0;
}
.siteheader .container .site-list > li > div > ul li > a .image {
  width: 160px;
  height: 110px;
  margin-left: 10px;
}
.siteheader .container .site-list > li > div > ul li > a .image img {
  width: 160px;
  height: 110px;
}
.siteheader .container .site-list > li > div > ul li > a p {
  margin: 5px 0;
}
.siteheader .container .site-search {
  width: 294px;
  height: 50px;
  margin-top: 25px;
  float: right;
  position: relative;
  box-sizing: border-box;
}
.siteheader .container .site-search .hotword {
  position: absolute;
  top: 17px;
  right: 60px;
}
.siteheader .container .site-search .hotword a {
  background: #eee;
  color: #757575;
  padding: 0 5px;
  margin-left: 5px;
}
.siteheader .container .site-search .hotword a:hover {
  background: #ff6700;
  color: #fff;
}
.siteheader .container .site-search .search-info {
  width: 280px;
  height: 49px;
  padding-left: 10px;
  border: 1px solid #e0e0e0;
}
.siteheader .container .site-search .search-info:hover {
  border-color: #b0b0b0;
}
.siteheader .container .site-search .search-info:hover + .content + .mirror {
  border-left-color: #b0b0b0;
}
.siteheader .container .site-search .search-info:focus + .content {
  height: 200px;
  border: 1px solid #ff6700;
}
.siteheader .container .site-search .search-info:focus {
  border: 1px solid #ff6700;
}
.siteheader .container .site-search .search-info:focus + .content + .mirror {
  border-left-color: #ff6700;
}
.siteheader .container .site-search .content {
  width: 241px;
  height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 40;
  overflow: hidden;
}
.siteheader .container .site-search .mirror {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -1px;
  right: 0;
  border-left: 1px solid #e0e0e0;
}
.siteheader .container .site-search .mirror:hover {
  background-color: #ff6700;
}
.siteheader .container .site-search .mirror:hover i {
  color: #fff;
}
.siteheader .container .site-search .mirror i {
  position: absolute;
  top: 21px;
  left: 15px;
}
.categoryList {
  width: 230px;
  height: 420px;
  background-color: #9b9999;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.categoryList > li {
  height: 42px;
  padding-left: 30px;
  line-height: 42px;
}
.categoryList > li:hover {
  background-color: #FF6700;
}
.categoryList > li:hover > .content {
  width: auto;
}
.categoryList > li > a {
  font-size: 14px;
  color: #fff;
}
.categoryList > li > a .word {
  float: left;
}
.categoryList > li > a .arrow {
  float: right;
  margin-right: 20px;
  font-size: 16px;
}
.categoryList > li > .content1 {
  height: 580px;
  width: 0;
  position: absolute;
  left: 100%;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 4px #a0a0a0;
  z-index: 40;
}
.categoryList > li > .content1 > ul {
  width: 249px;
  height: 575px;
  float: left;
}
.categoryList > li > .content1 > ul > li {
  height: 40px;
  width: 200px;
  padding: 18px 20px;
}
.categoryList > li > .content1 > ul > li .icon {
  width: 40;
  height: 40px;
  float: left;
  margin-left: 10px;
}
.categoryList > li > .content1 > ul > li .icon img {
  vertical-align: middle;
}
.categoryList > li > .content1 > ul > li .word {
  float: right;
  color: #aaa;
  font-size: 14px;
  margin-right: 60px;
  line-height: 48px;
}
.categoryList > li > .content {
  position: absolute;
  height: 460px;
  left: 100%;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 0px 4px #a0a0a0;
  width: 0;
  overflow: hidden;
}
.categoryList > li > .content > ul {
  display: flex;
  height: 468px;
  flex-wrap: wrap;
  align-content: flex-start;
  writing-mode: vertical-lr;
}
.categoryList > li > .content > ul::after {
  content: '';
  height: 0;
  flex-grow: 1;
  background-color: #fff;
}
.categoryList > li > .content > ul > li {
  height: 40px;
  width: 213px;
  padding: 18px 20px;
  background-color: #fff;
  writing-mode: horizontal-tb;
}
.categoryList > li > .content > ul > li .icon {
  width: 40;
  height: 40px;
  float: left;
  margin-left: 10px;
}
.categoryList > li > .content > ul > li .icon img {
  vertical-align: middle;
}
.categoryList > li > .content > ul > li .word {
  float: right;
  color: #aaa;
  font-size: 14px;
  margin-right: 60px;
  line-height: 48px;
}
.hero .container {
  position: relative;
}
.hero .container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero .container .slider input {
  display: none;
}
.hero .container .slider input:nth-child(1):checked ~ .prevbtns > label:nth-child(2) {
  display: block;
}
.hero .container .slider input:nth-child(2):checked ~ .prevbtns > label:nth-child(3) {
  display: block;
}
.hero .container .slider input:nth-child(3):checked ~ .prevbtns > label:nth-child(4) {
  display: block;
}
.hero .container .slider input:nth-child(4):checked ~ .prevbtns > label:nth-child(5) {
  display: block;
}
.hero .container .slider input:nth-child(5):checked ~ .prevbtns > label:nth-child(1) {
  display: block;
}
.hero .container .slider .prevbtns,
.hero .container .slider .nextbtns {
  position: absolute;
  width: 40px;
  height: 70px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 30;
}
.hero .container .slider .prevbtns:hover,
.hero .container .slider .nextbtns:hover {
  background-color: #76695e;
}
.hero .container .slider .prevbtns label,
.hero .container .slider .nextbtns label {
  position: absolute;
  top: 0;
  width: 40px;
  height: 70px;
  display: none;
}
.hero .container .slider .prevbtns {
  left: 234px;
  background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -84px 50%;
}
.hero .container .slider .prevbtns label {
  left: 0;
}
.hero .container .slider .nextbtns {
  right: 0;
  background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -125px 50%;
}
.hero .container .slider .nextbtns label {
  right: 0;
}
.hero .container .slider .indicator {
  position: absolute;
  bottom: 30px;
  right: 20px;
  z-index: 30;
}
.hero .container .slider .indicator label {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  float: right;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 2px;
}
.hero .container .slider input:nth-child(1):checked ~ .nextbtns > label:nth-child(5) {
  display: block;
}
.hero .container .slider input:nth-child(2):checked ~ .nextbtns > label:nth-child(1) {
  display: block;
}
.hero .container .slider input:nth-child(3):checked ~ .nextbtns > label:nth-child(2) {
  display: block;
}
.hero .container .slider input:nth-child(4):checked ~ .nextbtns > label:nth-child(3) {
  display: block;
}
.hero .container .slider input:nth-child(5):checked ~ .nextbtns > label:nth-child(4) {
  display: block;
}
.hero .container .slider input:nth-child(1):checked ~ .indicator > label:nth-child(1) {
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.hero .container .slider input:nth-child(2):checked ~ .indicator > label:nth-child(2) {
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.hero .container .slider input:nth-child(3):checked ~ .indicator > label:nth-child(3) {
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.hero .container .slider input:nth-child(4):checked ~ .indicator > label:nth-child(4) {
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.hero .container .slider input:nth-child(5):checked ~ .indicator > label:nth-child(5) {
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.hero .container .slider input:nth-child(1):checked ~ .imgList > a:nth-child(1) > img {
  opacity: 1;
}
.hero .container .slider input:nth-child(2):checked ~ .imgList > a:nth-child(2) > img {
  opacity: 1;
}
.hero .container .slider input:nth-child(3):checked ~ .imgList > a:nth-child(3) > img {
  opacity: 1;
}
.hero .container .slider input:nth-child(4):checked ~ .imgList > a:nth-child(4) > img {
  opacity: 1;
}
.hero .container .slider input:nth-child(5):checked ~ .imgList > a:nth-child(5) > img {
  opacity: 1;
}
.hero .container .slider .imgList {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero .container .slider .imgList img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.phone {
  height: 628px;
}
.phone .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.phone .container .side-pic {
  width: 230px;
  height: 100%;
  padding-right: 14px;
  background-color: #f5f5f5;
}
.phone .container .side-pic img {
  width: 100%;
  height: 100%;
}
.phone .container .content {
  width: 982px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  background-color: #f5f5f5;
}
.phone .container .content > li {
  width: 234px;
  height: 260px;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 1px #e0e0e0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transition: all 2x linear;
}
.phone .container .content > li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.phone .container .content > li:last-child {
  padding: 0;
  height: 300px;
  background-color: #f5f5f5;
}
.phone .container .content > li:last-child:hover {
  box-shadow: none;
  transform: translate(0, 0);
}
.phone .container .content > li .img {
  width: 160px;
  height: 160px;
  margin: 10px auto;
}
.phone .container .content > li .img img {
  width: 160px;
  height: 160px;
}
.phone .container .content > li .title,
.phone .container .content > li .des {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.phone .container .content > li .title {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
.phone .container .content > li .des {
  margin-top: 2px;
  color: #b0b0b0;
  font-size: 12px;
  height: 18px;
}
.phone .container .content > li .pride {
  color: #ff6700;
  margin-top: 10px;
  font-size: 14px;
}
.phone .container .content > li .inner {
  display: block;
  width: 234px;
  height: 143px;
  background-color: #fff;
  transition: all 2x linear;
}
.phone .container .content > li .inner:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}
.hero-sub {
  width: 1226px;
  margin: 0 auto;
  margin-top: 14px;
}
.hero-sub > .subList {
  float: left;
  width: 230px;
  height: 170px;
  background-color: #5f5750;
  padding: 4px;
  box-sizing: border-box;
}
.hero-sub > .subList > .item {
  width: 74px;
  height: 81px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  box-sizing: border-box;
  float: left;
  padding-top: 18px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.6s;
}
.hero-sub > .subList > .item:hover {
  opacity: 1;
}
.hero-sub > .subList > .item > img {
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
}
.hero-sub > .subList > .item > span {
  color: #fff;
}
.hero-sub > img {
  width: 316px;
  height: 170px;
  float: left;
  margin-left: 15px;
}
/*.headline{
      width: 100%;
      height: 58px;
      >h3{
          display: block;
          float: left;
          font-size: 22px;
          font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
          color: #333;
          line-height: 58px;
          font-weight: 200;
      }
      >label{
          display: block;
          float: right;
          margin-left: 30px;
          padding: 22px 0 0;
          color: #424242;
          border-bottom: 2px solid rgba(0,0,0,0);
          cursor: pointer;
          transition: border .3s;
          font-size: 16px;
          &:hover{
              color: #ff6700;
              border-bottom: 2px solid #ff6700;
          }
      }
  }*/
/*所有标题栏的通用样式*/
.headline > h3 {
  display: block;
  float: left;
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  line-height: 58px;
  font-weight: 200;
}
.headline > nav {
  float: right;
  margin-left: 30px;
  padding: 22px 0 0;
  color: #424242;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: border 0.3s;
  font-size: 16px;
}
/*>.part3{
          color: #ff6700;
          border-bottom: 2px solid #ff6700;
      }*/
.headline > nav:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
/*.parts{
      width: 100%;
      background-color: #f5f5f5;
      >.container{
          >.headline{

          }
          >.content{
              width: 1222px;
              margin-left: 4px;
              >.sidebar{
                  width: 230px;
                  margin-right: 14px;
                  float: left;
                  >img{
                      width: 100%;
                      height: 300px;
                      transition: all .2s linear;
                      &:first-child{
                          margin-bottom: 28px;
                      }
                      &:hover{
                          transform: translate3d(0,-2px,0);
                          box-shadow: 0 15px 30px rgba(0,0,0,.1);
                      }
                  }
              }
              >.main-content{
                  width: 974px;
                  height: 628px;
                  float: left;
                  position: relative;
                  >input{
                      display: none;
                  }
                  >.partsItems{
                      width: 100%;
                      height: 100%;
                      display: flex;
                      position: absolute;
                      top: 0;
                      left: 0;
                      justify-content: space-between;
                      align-content: space-between;
                      flex-flow: column wrap;
                      >.partsItem{
                          width: 234px;
                          height: 300px;
                          padding: 20px;
                          box-sizing: border-box;
                          background-color: #fff;
                          text-align: center;
                          position: relative;
                          &:hover{
                              transform: translate3d(0,-2px,0);
                              box-shadow: 0 15px 30px rgba(0,0,0,.1);
                          }
                          >img{
                              width: 160px;
                              height: 160px;
                              margin: 0 auto 18px;
                              cursor: pointer;
                          }
                          >h3{
                              text-overflow: ellipsis;
                              white-space: nowrap;
                              overflow: hidden;
                              color: #333;
                              font-weight: 400;
                              font-size: 14px;
                              cursor: pointer;
                              margin: 0 10px 2px;
                          }
                          .des{
                              cursor: pointer;
                              color: #b0b0b0;
                              font-size: 12px;
                              margin: 0 10px 10px;
                          }
                          .price{
                              cursor: pointer;
                              color: #ff6700;
                              margin: 0 10px 14px;
                              font-size: 14px;
                              >del{
                                  color: #b0b0b0;
                              }
                          }
                          .half{
                              width: 80px;
                              height: 80px;
                              position: absolute;
                              right: 20px;
                              top: 32px;
                          }
                          .halftitle{
                              display: block;
                              width: 94px;
                              height: 42px;
                              overflow: auto;
                              text-overflow: inherit;
                              white-space: inherit;
                              margin-top: 22px;
                          }
                          .halfprice{
                              display: block;
                              width: 30px;
                              margin-left: 13px;
                              color: #ff6700;
                              font-size: 12px;
                              margin-top: 8px;
                          }
                      }
                  }
                  >.p1,
                  >.p2,
                  >.p3{
                      display: none;
                  }
                  >.p1{
                      >.partsItem{
                          &:nth-last-child(2){
                              height: 136px;
                          }
                          &:last-child{
                              height: 136px;
                          }
                      }
                  }
                  >.p2{
                      &::after{
                          content: '';
                          width: 234px;
                          height: 136px;
                      }
                      >.partsItem{
                          &:last-child{
                              height: 136px;
                          }
                      }
                  }
                  >.p3{
                      flex-flow: row wrap;
                      &::after{
                          content: '';
                          width: 234px;
                          height: 300px;
                      }
                      >.partsItem{
                          &:last-child{
                              height: 136px;
                          }
                      }
                  }
              }
          }
      }
  }*/
.parts {
  width: 100%;
  background-color: #f5f5f5;
}
.parts > .container > .content {
  width: 1222px;
  margin-left: 4px;
  padding-top: 58px;
}
.parts > .container > .content > .sidebar {
  width: 230px;
  margin-right: 14px;
  float: left;
}
.parts > .container > .content > .sidebar > img {
  width: 100%;
  height: 300px;
  transition: all 0.2s linear;
}
.parts > .container > .content > .sidebar > img:first-child {
  margin-bottom: 28px;
}
.parts > .container > .content > .sidebar > img:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.parts > .container > .content > .main-content {
  width: 974px;
  height: 628px;
  float: left;
  position: relative;
  overflow: hidden;
}
.parts > .container > .content > .main-content > .partsItems {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: column wrap;
  visibility: hidden;
  transition: 0s 9999s;
}
/*&:nth-child(1){
                          visibility: visible;
                      }*/
.parts > .container > .content > .main-content > .partsItems > .partsItem {
  width: 234px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.parts > .container > .content > .main-content > .partsItems > .partsItem:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.parts > .container > .content > .main-content > .partsItems > .partsItem > img {
  width: 160px;
  height: 160px;
  margin: 0 auto 18px;
  cursor: pointer;
}
.parts > .container > .content > .main-content > .partsItems > .partsItem > h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  margin: 0 10px 2px;
}
.parts > .container > .content > .main-content > .partsItems > .partsItem .des {
  cursor: pointer;
  color: #b0b0b0;
  font-size: 12px;
  margin: 0 10px 10px;
}
.parts > .container > .content > .main-content > .partsItems > .partsItem .price {
  cursor: pointer;
  color: #ff6700;
  margin: 0 10px 14px;
  font-size: 14px;
}
.parts > .container > .content > .main-content > .partsItems > .partsItem .price > del {
  color: #b0b0b0;
}
.parts > .container > .content > .main-content > .partsItems > .partsItem .half {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 32px;
}
.parts > .container > .content > .main-content > .partsItems > .partsItem .halftitle {
  display: block;
  width: 94px;
  height: 42px;
  overflow: auto;
  text-overflow: inherit;
  white-space: inherit;
  margin-top: 22px;
}
.parts > .container > .content > .main-content > .partsItems > .partsItem .halfprice {
  display: block;
  width: 30px;
  margin-left: 13px;
  color: #ff6700;
  font-size: 12px;
  margin-top: 8px;
}
.parts > .container > .content > .main-content > .p1 > .partsItem:nth-last-child(2) {
  height: 136px;
}
.parts > .container > .content > .main-content > .p1 > .partsItem:last-child {
  height: 136px;
}
.parts > .container > .content > .main-content > .p2::after {
  content: '';
  width: 234px;
  height: 136px;
}
.parts > .container > .content > .main-content > .p2 > .partsItem:last-child {
  height: 136px;
}
.parts > .container > .content > .main-content > .p3 {
  flex-flow: row wrap;
}
.parts > .container > .content > .main-content > .p3::after {
  content: '';
  width: 234px;
  height: 300px;
}
.parts > .container > .content > .main-content > .p3 > .partsItem:last-child {
  height: 136px;
}
/*配件模块通过transition的属性延迟的时长和hover的无时长可以做到快速切换的效果
   *美中不足的是这种效果如果出现最小部分无法被包含在其他模块中就会影响其他模块的显示
  */
/*绑定hover时的visible*/
.part3:hover + .content > .main-content > .p1,
.part2:hover + .part3 + .content > .main-content > .p2,
.part1:hover + .part2 + .part3 + .content > .main-content > .p3 {
  visibility: visible;
}
/*在内容被hover时取消所有模块的transition*/
.part1:hover + .part2 + .part3 + .content > .main-content > .p1,
.part1:hover + .part2 + .part3 + .content > .main-content > .p2,
.part1:hover + .part2 + .part3 + .content > .main-content > .p3,
.part2:hover + .part3 + .content > .main-content > .p1,
.part2:hover + .part3 + .content > .main-content > .p2,
.part2:hover + .part3 + .content > .main-content > .p3,
.part3:hover + .content > .main-content > .p1,
.part3:hover + .content > .main-content > .p2,
.part3:hover + .content > .main-content > .p3 {
  transition: none;
}
